
        <div id="anime0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5118207.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Онимуся</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51182070 = document.getElementById("anime0")
            _elem51182070.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="anime1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5258557.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Монолог фармацевта</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52585571 = document.getElementById("anime1")
            _elem52585571.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="anime2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5425339.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Магия вернувшегося д</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54253392 = document.getElementById("anime2")
            _elem54253392.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="anime3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5401148.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">История знакомства о</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54011483 = document.getElementById("anime3")
            _elem54011483.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="anime4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5406504.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Рон Камонохаси: Невм</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54065044 = document.getElementById("anime4")
            _elem54065044.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="anime5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5426233.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ненасытный Берсерк</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54262335 = document.getElementById("anime5")
            _elem54262335.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="anime6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5401195.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Провожающая в послед</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54011956 = document.getElementById("anime6")
            _elem54011956.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="anime7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5365956.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Хельк</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53659567 = document.getElementById("anime7")
            _elem53659567.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="anime8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5330764.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Зомби-апокалипсис и </p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53307648 = document.getElementById("anime8")
            _elem53307648.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="anime9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5357696.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Кот-мастер на все ла</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53576969 = document.getElementById("anime9")
            _elem53576969.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="anime10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5363192.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Непобедимый святой: </p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536319210 = document.getElementById("anime10")
            _elem536319210.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="anime11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5216645.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Королева, ставшая пр</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem521664511 = document.getElementById("anime11")
            _elem521664511.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="anime12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5118210.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Бродяга Кэнсин</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511821012 = document.getElementById("anime12")
            _elem511821012.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="anime13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5357727.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Моя возлюбленная заб</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535772713 = document.getElementById("anime13")
            _elem535772713.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="anime14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5118833.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Однушка лорда демоно</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511883314 = document.getElementById("anime14")
            _elem511883314.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="anime15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4912805.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мой счастливый брак</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem491280515 = document.getElementById("anime15")
            _elem491280515.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="anime16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5400749.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Клинки Хранителей</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540074916 = document.getElementById("anime16")
            _elem540074916.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="anime17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5297222.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Причина полюбить её</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem529722217 = document.getElementById("anime17")
            _elem529722217.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="anime18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5297246.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Слабейший монстр</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem529724618 = document.getElementById("anime18")
            _elem529724618.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="anime19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5308083.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Смертельная игра мёр</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530808319 = document.getElementById("anime19")
            _elem530808319.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="anime20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5330940.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Призванный в другой </p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem533094020 = document.getElementById("anime20")
            _elem533094020.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="anime21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5098559.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Галактика по соседст</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem509855921 = document.getElementById("anime21")
            _elem509855921.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="anime22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5332447.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Магия и мускулы</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem533244722 = document.getElementById("anime22")
            _elem533244722.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="anime23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5276611.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Слишком милый кризис</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem527661123 = document.getElementById("anime23")
            _elem527661123.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="anime24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5090290.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Одаривая этот замеча</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem509029024 = document.getElementById("anime24")
            _elem509029024.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="anime25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5018660.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Долой безделье!</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem501866025 = document.getElementById("anime25")
            _elem501866025.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="anime26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5352888.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Я получил читерские </p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535288826 = document.getElementById("anime26")
            _elem535288826.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="anime27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5125425.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Моя любовь девятьсот</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem512542527 = document.getElementById("anime27")
            _elem512542527.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="anime28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4786341.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Адский рай</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem478634128 = document.getElementById("anime28")
            _elem478634128.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="anime29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5134622.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Великая небесная сте</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem513462229 = document.getElementById("anime29")
            _elem513462229.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        