
        <div id="film0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4965334.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Большая гонка. Ауди </p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49653340 = document.getElementById("film0")
            _elem49653340.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="film1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4626783.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Пчеловод</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46267831 = document.getElementById("film1")
            _elem46267831.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="film2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4422792.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Воздушное ограбление</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44227922 = document.getElementById("film2")
            _elem44227922.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="film3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4490955.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">На одном крыле</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44909553 = document.getElementById("film3")
            _elem44909553.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="film4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5101673.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Хитровка. Знак четыр</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51016734 = document.getElementById("film4")
            _elem51016734.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="film5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4958668.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Триггер. Фильм</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49586685 = document.getElementById("film5")
            _elem49586685.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="film6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_1390793.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Беглец</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13907936 = document.getElementById("film6")
            _elem13907936.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="film7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_975402.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Часовой</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem9754027 = document.getElementById("film7")
            _elem9754027.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="film8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5368179.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Баба Мороз и тайна Н</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53681798 = document.getElementById("film8")
            _elem53681798.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="film9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4747289.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Три мушкетера</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47472899 = document.getElementById("film9")
            _elem47472899.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="film10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4421953.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Любовь с первого поц</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem442195310 = document.getElementById("film10")
            _elem442195310.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="film11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4367592.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Человек-паук: Лотос</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem436759211 = document.getElementById("film11")
            _elem436759211.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="film12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5245365.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Лёгкое знакомство</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem524536512 = document.getElementById("film12")
            _elem524536512.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="film13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5171040.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Голод</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem517104013 = document.getElementById("film13")
            _elem517104013.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="film14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5235922.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Проклятое наследие</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem523592214 = document.getElementById("film14")
            _elem523592214.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="film15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4630520.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Эллиот и волшебный а</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem463052015 = document.getElementById("film15")
            _elem463052015.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="film16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5117298.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Трио в перьях 2</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511729816 = document.getElementById("film16")
            _elem511729816.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="film17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5024429.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Игра в лифте</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem502442917 = document.getElementById("film17")
            _elem502442917.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="film18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5261227.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Лига справедливости </p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526122718 = document.getElementById("film18")
            _elem526122718.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="film19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5190520.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Сказка на ночь</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem519052019 = document.getElementById("film19")
            _elem519052019.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="film20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4476889.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Кокаиновый медведь</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem447688920 = document.getElementById("film20")
            _elem447688920.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="film21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4747499.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">О чем говорят незнак</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474749921 = document.getElementById("film21")
            _elem474749921.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="film22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_2023.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Павлин</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem202322 = document.getElementById("film22")
            _elem202322.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="film23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4629271.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мой ленивец-убийца</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem462927123 = document.getElementById("film23")
            _elem462927123.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="film24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5134108.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Юра дворник</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem513410824 = document.getElementById("film24")
            _elem513410824.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="film25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5097379.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Малум</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem509737925 = document.getElementById("film25")
            _elem509737925.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="film26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5380135.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Лебедь</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem538013526 = document.getElementById("film26")
            _elem538013526.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="film27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_937438.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Трансформеры: Восхож</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem93743827 = document.getElementById("film27")
            _elem93743827.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="film28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5154975.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ещё разок</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem515497528 = document.getElementById("film28")
            _elem515497528.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        ,
        <div id="film29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4869021.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Великий уравнитель 3</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem486902129 = document.getElementById("film29")
            _elem486902129.addEventListener("click", function (event) {$('.errorMessage').show(); $$nav.on('.errorMessage_inner')});
        </script>
        